{{#if isShowing}}
  {{#ice-popper
    id=_popperId
    target=_target
    placement=placement
    class="ice-tooltip"
    classNameBindings="isVisible"
  }}
    {{yield}}
    <div class="popper-arrow" x-arrow></div>
  {{/ice-popper}}
{{/if}}
