{{#if isShowing}}
  {{#ice-popper
    target=_target
    placement=placement
    class=popperClass
    classNameBindings="isVisible"
  }}
    {{yield}}
    <div class="popper-arrow" x-arrow></div>
  {{/ice-popper}}
{{/if}}
