
// Ice Tooltip
//
// A small tooltip that is triggered on hover over a target element.
//
// You can implement a tooltip custom class as well as custom direction placement with the Ember addon like this:
// ```
// <div class="example-target">
//   Target Text
//   {{#ice-tooltip placement="bottom" class="custom-class"}}
//    I'm Mr. Meseeks look at me!
//   {{/ice-tooltip}}
// </div>
// ```
//
// #### Important
// Note that tooltips are an official Ember addon in ice-pop,
// so please do not use the below example HTML directly.
// Please use the Ember component instead.
// [See Ice Tooltip Docs >>](/docs/ice-pop/class/addon/components/ice-tooltip.js~IceTooltip.html)
//
// Markup:
// <div class="example-target popover-target is-active" aria-haspopup="true" aria-expanded="true">
//   Target Text
// </div>
// <div class="ice-tooltip is-visible {{modifier_class}}" x-placement="bottom">
//   <div class="ice-tooltip-content" tabindex="0">
//     I'm Mr. Meseeks look at me!
//   </div>
//   <div class="popper-arrow" x-arrow></div>
// </div>
//
// .error-tooltip - Error tooltip type.
//
// Styleguide Ice Pop - Ice Tooltip

// Common ice-pop styles
@import '../common/core';

$tooltip-placements: ('left': 'horizontal', 'right': 'horizontal', 'top': 'vertical', 'bottom': 'vertical');

@include arrow-box(
  'ice-tooltip',
  $tooltip-placements,
  $ice-tooltip-z-index,
  $ice-tooltip-background-color,
  $ice-tooltip-width,
  $ice-tooltip-min-width,
  $ice-tooltip-max-width,
  $ice-tooltip-height,
  $ice-tooltip-min-height,
  $ice-tooltip-max-height,
  $ice-tooltip-box-padding,
  $ice-tooltip-border-width,
  $ice-tooltip-border-style,
  $ice-tooltip-border-color,
  $ice-tooltip-border-radius,
  $ice-tooltip-box-shadow,
  $ice-tooltip-text-color,
  $ice-tooltip-text-align,
  $ice-tooltip-font-weight,
  $ice-tooltip-font-size,
  $ice-tooltip-line-height,
  $ice-tooltip-font-family,
  $ice-tooltip-fade-transition,
  $ice-tooltip-arrow-size
  );

.error-tooltip {
  @include arrow-box-color-variation($ice-tooltip-error-bg, $ice-tooltip-error-text, $ice-tooltip-border-color);
}
