@import '@addepar/style-toolbox';

$demo-container-width: 400px;
// appease sass lint with variables, even though this is a dummy css file :P
$white: #ffffff;
$grey: #808080;

.demo-header,
.title {
  text-align: center;
}

.scroll-container {
  height: 400px;
  width: 400px;
  overflow: scroll;
  margin: auto;
  border: 2px solid $grey;
}

.item-container {
  height: 1000px;
  width: 800px;

  background-color: $white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-text {
  text-align: center;
}

.demo-container {
  margin: 50px auto;
  width: $demo-container-width;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.demo-item {
  flex: 1 0 $demo-container-width / 3;
  margin-bottom: 20px;
}

// Tooltips

.tooltip-target {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: $grey;
}

// tooltip-icon is temporarily defined here for the sake of testing,
// until font awesome gets included by @addepar/style-toolbox
.fa-question-circle::before {
  content: '?';
  width: 14px;
  height: 14px;
  display: inline-block;
}

// Popovers

.popover-target {
  margin: 20px;
}

// TODO: The caret here is currently temporary for development.
// Update this with font awesome when it is finally included in @addepar/style-toolbox.
.adde-dropdown-caret {
  display: inline-block;
  margin-left: $spacing-small;

  &::after {
    content: '\0203A';
    display: block;
    color: inherit;
  }

  &.left {
    transform: rotate(180deg);
  }

  &.down {
    transform: rotate(90deg);
  }

  &.up {
    transform: rotate(-90deg);
  }
}
