@font-face {
  font-family: 'Univers-Next';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Light.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Next';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Regular.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Next';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Medium.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Next';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Bold.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNextW01Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Next-Condensed';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNW01320CdLt.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNW01320CdLt.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Next-Condensed';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNW01420CdRegular.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNW01420CdRegular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Next-Condensed';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNW01520CdMedium.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNW01520CdMedium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Next-Condensed';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversNW01620CdBold.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversNW01620CdBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Tabular';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversLTLight.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversLTLight.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Tabular';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversLTRoman.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversLTRoman.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Univers-Tabular';
  src: url('/@addepar/style-toolbox/assets/fonts/UniversLTBold.woff') format('woff'),
    url('/@addepar/style-toolbox/assets/fonts/UniversLTBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Light.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-LightItalic.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Regular.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-RegularItalic.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Medium.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-MediumItalic.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Bold.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-BoldItalic.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposHeadlineWeb-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Regular.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-RegularItalic.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Semibold.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-Semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-SemiboldItalic.eot');
  src: url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/@addepar/style-toolbox/assets/fonts/TiemposTextWeb-SemiboldItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

html,
body {
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}
html *,
body * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-cell.is-active,
.adde-color-picker-radio .color-cell:hover,
.adde-color-picker-radio input[type='radio']:checked + .color-cell {
  border-color: #ffffff;
  outline: 1px solid #27618a;
}

.color-cell {
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  margin: 2px;
  border: 1px solid #e9e9e9;
  background-size: cover;
}
.color-cell.is-transparent {
  background-image: url('/@addepar/style-toolbox/assets/images/transparent_color.svg');
}
.color-cell.is-invalid,
.color-cell.is-empty {
  background-image: url('/@addepar/style-toolbox/assets/images/invalid_color.svg');
}
.color-cell:disabled,
button:disabled .color-cell {
  opacity: 0.6;
}

.button-text,
.button-default,
.button-select,
.button-primary,
.button-danger,
.button-link,
.button-icon,
.adde-color-picker-button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  color: #333333;
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  height: 32px;
  vertical-align: middle;
  min-width: 72px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
.button-text:active,
.button-default:active,
.button-select:active,
.button-primary:active,
.button-danger:active,
.button-link:active,
.button-icon:active,
.adde-color-picker-button:active,
.is-active.button-text,
.is-active.button-default,
.is-active.button-select,
.is-active.button-primary,
.is-active.button-danger,
.is-active.button-link,
.is-active.button-icon,
.is-active.adde-color-picker-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button-text:active:focus,
.button-default:active:focus,
.button-select:active:focus,
.button-primary:active:focus,
.button-danger:active:focus,
.button-link:active:focus,
.button-icon:active:focus,
.adde-color-picker-button:active:focus,
.is-active.button-text:focus,
.is-active.button-default:focus,
.is-active.button-select:focus,
.is-active.button-primary:focus,
.is-active.button-danger:focus,
.is-active.button-link:focus,
.is-active.button-icon:focus,
.is-active.adde-color-picker-button:focus,
.active.button-text:focus,
.active.button-default:focus,
.active.button-select:focus,
.active.button-primary:focus,
.active.button-danger:focus,
.active.button-link:focus,
.active.button-icon:focus,
.active.adde-color-picker-button:focus {
  outline: none;
}
.button-text:hover,
.button-default:hover,
.button-select:hover,
.button-primary:hover,
.button-danger:hover,
.button-link:hover,
.button-icon:hover,
.adde-color-picker-button:hover {
  color: #5c5c5c;
}
.button-text:active,
.button-default:active,
.button-select:active,
.button-primary:active,
.button-danger:active,
.button-link:active,
.button-icon:active,
.adde-color-picker-button:active,
.is-active.button-text,
.is-active.button-default,
.is-active.button-select,
.is-active.button-primary,
.is-active.button-danger,
.is-active.button-link,
.is-active.button-icon,
.is-active.adde-color-picker-button,
.active.button-text,
.active.button-default,
.active.button-select,
.active.button-primary,
.active.button-danger,
.active.button-link,
.active.button-icon,
.active.adde-color-picker-button,
.open .dropdown-toggle.button-text,
.open .dropdown-toggle.button-default,
.open .dropdown-toggle.button-select,
.open .dropdown-toggle.button-primary,
.open .dropdown-toggle.button-danger,
.open .dropdown-toggle.button-link,
.open .dropdown-toggle.button-icon,
.open .dropdown-toggle.adde-color-picker-button {
  color: #0a0a0a;
}
.button-text:focus,
.button-default:focus,
.button-select:focus,
.button-primary:focus,
.button-danger:focus,
.button-link:focus,
.button-icon:focus,
.adde-color-picker-button:focus {
  outline-offset: -2px;
  outline-color: #c7c7c7;
}
.button-text[disabled],
.button-default[disabled],
.button-select[disabled],
.button-primary[disabled],
.button-danger[disabled],
.button-link[disabled],
.button-icon[disabled],
.adde-color-picker-button[disabled],
fieldset[disabled] .button-text,
fieldset[disabled] .button-default,
fieldset[disabled] .button-select,
fieldset[disabled] .button-primary,
fieldset[disabled] .button-danger,
fieldset[disabled] .button-link,
fieldset[disabled] .button-icon,
fieldset[disabled] .adde-color-picker-button {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #adadad;
}
.open .dropdown-toggle.button-text:focus,
.open .dropdown-toggle.button-default:focus,
.open .dropdown-toggle.button-select:focus,
.open .dropdown-toggle.button-primary:focus,
.open .dropdown-toggle.button-danger:focus,
.open .dropdown-toggle.button-link:focus,
.open .dropdown-toggle.button-icon:focus,
.open .dropdown-toggle.adde-color-picker-button:focus,
.open .button-text[data-toggle='dropdown']:focus,
.open .button-default[data-toggle='dropdown']:focus,
.open .button-select[data-toggle='dropdown']:focus,
.open .button-primary[data-toggle='dropdown']:focus,
.open .button-danger[data-toggle='dropdown']:focus,
.open .button-link[data-toggle='dropdown']:focus,
.open .button-icon[data-toggle='dropdown']:focus,
.open .adde-color-picker-button[data-toggle='dropdown']:focus {
  outline: none;
  color: #595959;
}

label[class^='button-'] {
  line-height: 32px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.button-default,
.button-select {
  color: #333333;
  background-color: #f4f4f4;
  border-color: #c7c7c7;
}
.button-default:hover,
.button-select:hover {
  color: #0a0a0a;
  background-color: #f6f6f6;
  border-color: #bcbcbc;
}
.button-default[disabled],
.button-select[disabled],
fieldset[disabled] .button-default,
fieldset[disabled] .button-select {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #adadad;
  background-color: #fbfbfb;
  border-color: #e9e9e9;
}
.button-default:active,
.button-select:active,
.button-default.is-active,
.is-active.button-select,
.open .button-default.dropdown-toggle,
.open .dropdown-toggle.button-select {
  color: #0a0a0a;
  background-color: #f2f2f2;
  border-color: #bcbcbc;
}

.button-primary {
  color: #ffffff;
  background-color: #333333;
  border-color: black;
}
.button-primary:hover {
  color: white;
  background-color: #5c5c5c;
  border-color: black;
}
.button-primary[disabled],
fieldset[disabled] .button-primary {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
  background-color: #adadad;
  border-color: #999999;
}
.button-primary:active,
.button-primary.is-active,
.open .button-primary.dropdown-toggle {
  color: white;
  background-color: #0a0a0a;
  border-color: black;
}

.button-danger {
  color: #ffffff;
  background-color: #cb323b;
  border-color: #791e23;
}
.button-danger:hover {
  color: white;
  background-color: #d55b62;
  border-color: #5e0000;
}
.button-danger[disabled],
fieldset[disabled] .button-danger {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
  background-color: #eaadb1;
  border-color: #c9a5a7;
}
.button-danger:active,
.button-danger.is-active,
.open .button-danger.dropdown-toggle {
  color: white;
  background-color: #c10914;
  border-color: #5e0000;
}

.button-link {
  color: #27618a;
  background-color: transparent;
  border-color: transparent;
}
.button-link:hover {
  color: #004173;
  background-color: transparent;
  border-color: transparent;
}
.button-link[disabled],
fieldset[disabled] .button-link {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #a9c0d0;
  background-color: transparent;
  border-color: transparent;
}
.button-link:active,
.button-link.is-active,
.open .button-link.dropdown-toggle {
  color: #004173;
  background-color: transparent;
  border-color: transparent;
}
.button-link:not(:hover) {
  text-decoration: underline;
}

.button-select {
  border-style: dashed;
}

.button-icon {
  color: #999999;
  padding: 0;
  width: 32px;
  min-width: 32px;
}
.button-icon:hover,
.button-icon:active,
.button-icon.is-active,
.button-icon.active,
.open .button-icon.dropdown-toggle {
  border-color: #c7c7c7;
}
.button-icon:active,
.button-icon.is-active,
.button-icon.active,
.open .button-icon.dropdown-toggle {
  background-color: #efefef;
}
.button-icon img {
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  opacity: 0.2;
  height: 20px;
}
.button-icon:hover img,
.button-icon.is-active img,
.button-icon.active img {
  opacity: 1;
}

.adde-color-picker-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.adde-color-picker-button .button-caret {
  padding: 0 8px;
  vertical-align: middle;
}

.button-flush-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.button-flush-group [class^='button-'] + [class^='button-'] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}
.button-flush-group [class^='button-']:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button-flush-group [class^='button-'][disabled] {
  z-index: -1;
}

.button-large {
  height: 40px;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 88px;
}

.adde-color-picker-button {
  color: #333333;
  background-color: #f4f4f4;
  border-color: #c7c7c7;
  padding: 0;
  min-width: auto;
}
.adde-color-picker-button:hover {
  color: #0a0a0a;
  background-color: #f6f6f6;
  border-color: #bcbcbc;
}
.adde-color-picker-button[disabled],
fieldset[disabled] .adde-color-picker-button {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #adadad;
  background-color: #fbfbfb;
  border-color: #e9e9e9;
}
.adde-color-picker-button:active,
.adde-color-picker-button.is-active,
.open .adde-color-picker-button.dropdown-toggle {
  color: #0a0a0a;
  background-color: #f2f2f2;
  border-color: #bcbcbc;
}
.is-invalid .adde-color-picker-button {
  border-color: #cb323b;
  outline-color: #cb323b;
}
.adde-color-picker-button .color-cell {
  width: 24px;
  height: 24px;
}

.checkbox,
.ember-table .et-toggle-select {
  margin: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
}
.checkbox input[type='checkbox'],
.ember-table .et-toggle-select input[type='checkbox'] {
  opacity: 0.001;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.checkbox input[type='checkbox'] + *,
.ember-table .et-toggle-select input[type='checkbox'] + * {
  display: block;
}
.checkbox:empty:before,
.ember-table .et-toggle-select:empty:before,
.checkbox input[type='checkbox'] + *:before,
.ember-table .et-toggle-select input[type='checkbox'] + *:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border: #c7c7c7 solid 1px;
}
.checkbox:empty:after,
.ember-table .et-toggle-select:empty:after,
.checkbox input[type='checkbox'] + *:after,
.ember-table .et-toggle-select input[type='checkbox'] + *:after {
  display: none;
  content: '';
  opacity: 0.75;
  height: 15px;
  width: 17px;
  background-position: 4px 0;
  background-size: 13px;
  background-image: url(/@addepar/style-toolbox/assets/images/checkmark.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.checkbox:focus,
.ember-table .et-toggle-select:focus {
  outline: none;
}
.checkbox:focus:before,
.ember-table .et-toggle-select:focus:before,
.checkbox input[type='checkbox']:focus + *:before,
.ember-table .et-toggle-select input[type='checkbox']:focus + *:before {
  border: #949494 solid 1px;
}
.checkbox:checked:after,
.ember-table .et-toggle-select:checked:after,
.checkbox input[type='checkbox']:checked + *:after,
.ember-table .et-toggle-select input[type='checkbox']:checked + *:after {
  display: block;
}

.collapse,
.ember-table .et-toggle-collapse {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 8px;
  color: #999999;
  cursor: pointer;
  position: relative;
}
.collapse input[type='checkbox'],
.ember-table .et-toggle-collapse input[type='checkbox'] {
  opacity: 0.001;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.collapse input[type='checkbox'] + *,
.ember-table .et-toggle-collapse input[type='checkbox'] + * {
  display: block;
  width: 100%;
}
.collapse:empty:before,
.ember-table .et-toggle-collapse:empty:before,
.collapse input[type='checkbox'] + *:before,
.ember-table .et-toggle-collapse input[type='checkbox'] + *:before {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  content: '\25be';
}
.collapse:checked:before,
.ember-table .et-toggle-collapse:checked:before,
.collapse input[type='checkbox']:checked + *:before,
.ember-table .et-toggle-collapse input[type='checkbox']:checked + *:before {
  color: #333333;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.collapse:focus,
.ember-table .et-toggle-collapse:focus,
.collapse input[type='checkbox']:focus + *:before,
.ember-table .et-toggle-collapse input[type='checkbox']:focus + *:before {
  outline: none;
  color: #333333;
}

input[type='text'].adde-text-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 32px;
  padding: 0 12px;
  border: 1px solid #c7c7c7;
}
input[type='text'].adde-text-input:invalid,
input[type='text'].adde-text-input.is-invalid {
  border-color: #cb323b;
  outline-color: #cb323b;
}

.table,
.ember-table {
  color: #333333;
  font-size: 13px;
}
.table th,
.ember-table th,
.table td,
.ember-table td {
  overflow: hidden;
}
.table th,
.ember-table th {
  height: 32px;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #e9e9e9;
  vertical-align: bottom;
  text-align: left;
  padding: 4px;
  background: #ffffff;
}

.table td,
.ember-table td {
  padding: 4px;
  background: #ffffff;
}
.table thead tr:first-child > th,
.ember-table thead tr:first-child > th {
  border-top: 1px solid #e9e9e9;
}
.table tbody td,
.ember-table tbody td {
  border-bottom: 1px solid #e9e9e9;
}
.table tfoot td,
.ember-table tfoot td {
  border-top: 1px solid #e9e9e9;
  background: #ffffff;
}

.adde-tooltip {
  position: absolute;
  z-index: 10;
  background: #333333;
  padding: 8px;
  border: 0 none none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  text-align: left;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.adde-tooltip.is-visible {
  opacity: 1;
}
.adde-tooltip .popper-arrow {
  position: absolute;
  width: 0;
  height: 0;
  margin: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: #333333;
}
.adde-tooltip[x-placement^='left'] {
  margin-right: 8px;
}
.adde-tooltip[x-placement^='left'] .popper-arrow {
  border-right-width: 0;
  border-right-color: transparent;
  right: -8px;
}
.adde-tooltip[x-placement^='right'] {
  margin-left: 8px;
}
.adde-tooltip[x-placement^='right'] .popper-arrow {
  border-left-width: 0;
  border-left-color: transparent;
  left: -8px;
}
.adde-tooltip[x-placement^='top'] {
  margin-bottom: 8px;
}
.adde-tooltip[x-placement^='top'] .popper-arrow {
  border-bottom-width: 0;
  border-bottom-color: transparent;
  bottom: -8px;
}
.adde-tooltip[x-placement^='bottom'] {
  margin-top: 8px;
}
.adde-tooltip[x-placement^='bottom'] .popper-arrow {
  border-top-width: 0;
  border-top-color: transparent;
  top: -8px;
}

.adde-tooltip-content {
  width: auto;
  min-width: auto;
  max-width: 200px;
  height: auto;
  min-height: auto;
  max-height: auto;
}

.adde-tooltip[x-placement^='top'] .popper-arrow,
.adde-tooltip[x-placement^='bottom'] .popper-arrow {
  margin-top: 0;
  margin-bottom: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  left: calc(50% - 8px);
}

.adde-tooltip[x-placement^='left'] .popper-arrow,
.adde-tooltip[x-placement^='right'] .popper-arrow {
  margin-left: 0;
  margin-right: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  top: calc(50% - 8px);
}

.error-tooltip {
  background-color: #fae8ee;
  color: #cb323b;
}
.error-tooltip .popper-arrow {
  border-color: #fae8ee;
}

.tooltip-icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
  color: #999999;
}
.tooltip-icon:hover {
  color: #333333;
}

.adde-popover {
  position: absolute;
  z-index: 10;
  background: #ffffff;
  padding: 0;
  border: 1px solid #e9e9e9;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: #333333;
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  line-height: auto;
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.adde-popover.is-visible {
  opacity: 1;
}
.adde-popover .popper-arrow {
  position: absolute;
  width: 0;
  height: 0;
  margin: 8px;
  border-width: 8px;
  border-style: solid;
  border-color: gainsboro;
}
.adde-popover .popper-arrow::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid #ffffff;
}
.adde-popover[x-placement^='left'] {
  margin-right: 8px;
}
.adde-popover[x-placement^='left'] .popper-arrow {
  border-right-width: 0;
  border-right-color: transparent;
  right: -8px;
}
.adde-popover[x-placement^='left'] .popper-arrow::before {
  right: calc(-8px + 1px);
  border-right-color: transparent;
}
.adde-popover[x-placement^='right'] {
  margin-left: 8px;
}
.adde-popover[x-placement^='right'] .popper-arrow {
  border-left-width: 0;
  border-left-color: transparent;
  left: -8px;
}
.adde-popover[x-placement^='right'] .popper-arrow::before {
  left: calc(-8px + 1px);
  border-left-color: transparent;
}
.adde-popover[x-placement^='top'] {
  margin-bottom: 8px;
}
.adde-popover[x-placement^='top'] .popper-arrow {
  border-bottom-width: 0;
  border-bottom-color: transparent;
  bottom: -8px;
}
.adde-popover[x-placement^='top'] .popper-arrow::before {
  bottom: calc(-8px + 1px);
  border-bottom-color: transparent;
}
.adde-popover[x-placement^='bottom'] {
  margin-top: 8px;
}
.adde-popover[x-placement^='bottom'] .popper-arrow {
  border-top-width: 0;
  border-top-color: transparent;
  top: -8px;
}
.adde-popover[x-placement^='bottom'] .popper-arrow::before {
  top: calc(-8px + 1px);
  border-top-color: transparent;
}

.adde-popover-content {
  width: auto;
  min-width: 200px;
  max-width: none;
  height: auto;
  min-height: auto;
  max-height: 80vh;
}

.adde-popover[x-placement^='top'] .popper-arrow,
.adde-popover[x-placement^='bottom'] .popper-arrow {
  margin-top: 0;
  margin-bottom: 0;
  border-right-color: transparent;
  border-left-color: transparent;
  left: calc(50% - 8px);
}
.adde-popover[x-placement^='top'] .popper-arrow::before,
.adde-popover[x-placement^='bottom'] .popper-arrow::before {
  left: -8px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.adde-popover[x-placement^='left'] .popper-arrow,
.adde-popover[x-placement^='right'] .popper-arrow {
  margin-left: 0;
  margin-right: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  top: calc(50% - 8px);
}
.adde-popover[x-placement^='left'] .popper-arrow::before,
.adde-popover[x-placement^='right'] .popper-arrow::before {
  top: -8px;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.adde-popover.has-title[x-placement^='bottom'] .popper-arrow {
  border-bottom-color: gainsboro;
}
.adde-popover.has-title[x-placement^='bottom'] .popper-arrow::before {
  border-bottom-color: #f4f4f4;
}

.adde-popover.has-title[x-placement='left-start'] .popper-arrow {
  border-left-color: gainsboro;
}
.adde-popover.has-title[x-placement='left-start'] .popper-arrow::before {
  border-left-color: #f4f4f4;
}

.adde-popover.has-title[x-placement='right-start'] .popper-arrow {
  border-right-color: gainsboro;
}
.adde-popover.has-title[x-placement='right-start'] .popper-arrow::before {
  border-right-color: #f4f4f4;
}

.adde-popover-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (min-height: 750px) {
  .adde-popover-content {
    max-height: 600px;
  }
}

.adde-popover-title {
  background-color: #f4f4f4;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.adde-popover-body {
  padding: 16px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  max-width: 100%;
}

.adde-popover-footer {
  padding: 16px;
  border-top: 1px solid #e9e9e9;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.adde-dropdown {
  position: absolute;
  z-index: 10;
  background: #ffffff;
  padding: 0;
  border: 1px solid #e9e9e9;
  border-radius: 0;
  color: #333333;
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  line-height: auto;
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  opacity: 0;
}
.adde-dropdown.is-visible {
  opacity: 1;
}
.adde-dropdown[x-placement^='bottom'] {
  -webkit-box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px 3px 3px rgba(175, 175, 175, 0.1),
    3px 3px 3px rgba(175, 175, 175, 0.1);
  box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px 3px 3px rgba(175, 175, 175, 0.1),
    3px 3px 3px rgba(175, 175, 175, 0.1);
}
.adde-dropdown[x-placement^='top'] {
  -webkit-box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px -3px 3px rgba(175, 175, 175, 0.1),
    3px -3px 3px rgba(175, 175, 175, 0.1);
  box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px -3px 3px rgba(175, 175, 175, 0.1),
    3px -3px 3px rgba(175, 175, 175, 0.1);
}
.adde-dropdown[x-placement^='right'] {
  -webkit-box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), 3px 3px 3px rgba(175, 175, 175, 0.1),
    3px -3px 3px rgba(175, 175, 175, 0.1);
  box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), 3px 3px 3px rgba(175, 175, 175, 0.1),
    3px -3px 3px rgba(175, 175, 175, 0.1);
}
.adde-dropdown[x-placement^='left'] {
  -webkit-box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px 3px 3px rgba(175, 175, 175, 0.1),
    -3px -3px 3px rgba(175, 175, 175, 0.1);
  box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px 3px 3px rgba(175, 175, 175, 0.1),
    -3px -3px 3px rgba(175, 175, 175, 0.1);
}

.adde-dropdown-content {
  overflow: auto;
  min-width: 160px;
  max-width: auto;
  max-height: 80vh;
}
@media screen and (min-height: 750px) {
  .adde-dropdown-content {
    max-height: 600px;
  }
}

.adde-dropdown-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
.adde-dropdown-menu > li {
  position: relative;
  display: block;
  color: #333333;
  line-height: 16px;
}
.adde-dropdown-menu > li button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  line-height: 1;
  border-radius: 0;
  line-height: inherit;
  text-align: left;
  width: 100%;
}
.adde-dropdown-menu > li button:active,
.adde-dropdown-menu > li button.is-active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.adde-dropdown-menu > li button:active:focus,
.adde-dropdown-menu > li button.is-active:focus,
.adde-dropdown-menu > li button.active:focus {
  outline: none;
}
.adde-dropdown-menu > li a {
  display: block;
}
.adde-dropdown-menu > li button,
.adde-dropdown-menu > li a {
  padding: 8px 16px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.adde-dropdown-menu > li button:hover,
.adde-dropdown-menu > li a:hover {
  background-color: #e9f4fc;
}
.adde-dropdown-menu > li button.is-selected,
.adde-dropdown-menu > li button.is-active,
.adde-dropdown-menu > li a.is-selected,
.adde-dropdown-menu > li a.is-active {
  background-color: #d7ebfa;
}
.adde-dropdown-menu > li.is-active a,
.adde-dropdown-menu > li.is-active button {
  background-color: #d7ebfa;
}
.adde-dropdown-menu > li[disabled],
.adde-dropdown-menu > li a[disabled],
.adde-dropdown-menu > li button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.6;
}
.adde-dropdown-menu > li .adde-dropdown-caret {
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.adde-dropdown-menu > li.list-divider {
  border-top: 1px solid #e9e9e9;
  margin: 8px 0;
}
.adde-dropdown-menu > li.list-group-header {
  background-color: #f4f4f4;
  font-weight: 700;
  padding: 8px 16px;
}

.adde-sub-dropdown {
  margin-top: -8px;
}
.adde-sub-dropdown[x-placement^='bottom'],
.adde-sub-dropdown[x-placement$='-start'] {
  -webkit-box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px 3px 3px rgba(175, 175, 175, 0.1),
    3px 3px 3px rgba(175, 175, 175, 0.1);
  box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px 3px 3px rgba(175, 175, 175, 0.1),
    3px 3px 3px rgba(175, 175, 175, 0.1);
}
.adde-sub-dropdown[x-placement^='top'],
.adde-sub-dropdown[x-placement$='-end'] {
  -webkit-box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px -3px 3px rgba(175, 175, 175, 0.1),
    3px -3px 3px rgba(175, 175, 175, 0.1);
  box-shadow: 0 0 3px rgba(175, 175, 175, 0.1), -3px -3px 3px rgba(175, 175, 175, 0.1),
    3px -3px 3px rgba(175, 175, 175, 0.1);
}

.adde-color-picker-radio {
  position: relative;
}
.adde-color-picker-radio .color-cell:hover {
  cursor: pointer;
}
.adde-color-picker-radio input[type='radio'] {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: -1;
}

.adde-color-picker-dropdown section:not(:first-child) {
  padding-top: 8px;
}

.adde-color-picker-dropdown section:not(:last-child) {
  padding-bottom: 8px;
}

.adde-color-picker-dropdown section + section {
  border-top: 1px solid #e9e9e9;
}

.adde-color-picker-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.adde-color-picker-row:first-of-type {
  margin-bottom: 8px;
}

.custom-color-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.custom-color-row form {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.custom-color-row form input[type='text'] {
  width: 100%;
}
.custom-color-row > * + * {
  margin-left: 4px;
}

.ember-modal-overlay {
  position: fixed;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}

.ember-modal-dialog {
  position: fixed;
  z-index: 50;
}
.ember-modal-dialog.ember-modal-dialog-in-place {
  position: static;
}

.adde-modal-trigger {
  display: none;
}

.adde-modal {
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  border-radius: 2px;
  background-color: #ffffff;
  width: 600px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
.adde-modal * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.adde-modal.size-sm {
  width: 360px;
}
.adde-modal.size-lg {
  width: 800px;
}

.ember-modal-overlay.translucent {
  background-color: rgba(51, 51, 51, 0.5);
}

.adde-modal-body {
  padding: 24px 16px;
}
.adde-modal-body .adde-modal-footer {
  padding: 0;
}

.adde-modal-header {
  padding: 16px;
  background-color: #333333;
  color: #ffffff;
}
.adde-modal-header h4.adde-modal-title {
  display: inline-block;
  margin: 0;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
}
.adde-modal-header button.adde-modal-close {
  position: relative;
  float: right;
  border: none;
  top: -16px;
  right: -16px;
  height: 56px;
  width: 56px;
  color: #ffffff;
  border-radius: 0;
}
.adde-modal-header button.adde-modal-close:hover {
  background-color: #4d4d4d;
}

.adde-modal-footer {
  padding: 16px;
  border-top: 1px solid #e9e9e9;
}

.ember-table {
  /**** Sort Controls ****/
  /**** Resize Controls ****/
  /**** Reorder Controls ****/
  /**** Row Controls ****/
}
.ember-table th.is-sortable {
  cursor: pointer;
}
.ember-table th.is-sortable:hover {
  background: #e9f4fc;
}
.ember-table .et-sort-indicator:before {
  font-family: 'Univers-Next', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  display: inline-block;
  border: none;
  line-height: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: '\25be';
}
.ember-table .et-sort-indicator.is-ascending:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ember-table .et-header-resize-area {
  cursor: col-resize;
  width: 12px;
}
.is-resizing.ember-table * {
  cursor: col-resize !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ember-table th.is-reorderable {
  cursor: -webkit-grab;
  cursor: grab;
}
.ember-table .et-reorder-main-indicator {
  position: absolute;
  background: transparent;
  border-left: none;
  border-right: none;
  opacity: 0.8;
  z-index: 10;
}
.ember-table .et-reorder-main-indicator th {
  background: #e9f4fc;
}
.ember-table .et-reorder-drop-indicator {
  position: absolute;
  background: transparent;
  border-left: none;
  border-right: #27618a solid 1px;
  opacity: 0.8;
  z-index: 10;
  height: 100%;
}
.is-reordering.ember-table * {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ember-table td.is-first-column {
  padding: 0;
}
.ember-table .et-cell-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.ember-table .et-toggle-select,
.ember-table .et-toggle-collapse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.ember-table .et-toggle-select {
  padding: 4px;
}

.ember-table .et-toggle-collapse {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 24px;
  padding: 0;
}
.ember-table .et-depth-placeholder:not(.depth-0) {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 24px;
  height: 100%;
}
.ember-table .et-depth-indent.depth-1 {
  padding-left: 16px;
}
.ember-table .et-depth-indent.depth-2 {
  padding-left: 32px;
}
.ember-table .et-depth-indent.depth-3 {
  padding-left: 48px;
}
.ember-table .et-depth-indent.depth-4 {
  padding-left: 64px;
}
.ember-table .et-depth-indent.depth-5 {
  padding-left: 80px;
}
.ember-table .et-depth-indent.depth-6 {
  padding-left: 96px;
}
.ember-table .et-depth-indent.depth-7 {
  padding-left: 112px;
}
.ember-table .et-depth-indent.depth-8 {
  padding-left: 128px;
}
.ember-table .et-depth-indent.depth-9 {
  padding-left: 144px;
}
.ember-table .et-depth-indent.depth-10 {
  padding-left: 160px;
}
.ember-table .et-cell-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4px;
}
.ember-table tr.is-selected td {
  background: #d7ebfa;
}
.ember-table tr.is-selectable {
  cursor: pointer;
}
.ember-table tr.is-selectable:hover td {
  background: #e9f4fc;
}

.demo-header,
.title {
  text-align: center;
}

.scroll-container {
  height: 400px;
  width: 400px;
  overflow: scroll;
  margin: auto;
  border: 2px solid #808080;
}

.item-container {
  height: 1000px;
  width: 800px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-text {
  text-align: center;
}

.demo-container {
  margin: 50px auto;
  width: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.demo-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 133.33333px;
  -ms-flex: 1 0 133.33333px;
  flex: 1 0 133.33333px;
  margin-bottom: 20px;
}

.tooltip-target {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #808080;
}

.fa-question-circle::before {
  content: '?';
  width: 14px;
  height: 14px;
  display: inline-block;
}

.popover-target {
  margin: 20px;
}

.adde-dropdown-caret {
  display: inline-block;
  margin-left: 4px;
}
.adde-dropdown-caret::after {
  content: '\0203A';
  display: block;
  color: inherit;
}
.adde-dropdown-caret.left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.adde-dropdown-caret.down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.adde-dropdown-caret.up {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
