{{#animated-popper
  isOpen=isOpen
  placement=placement
  modifiers=_popperModifiers
  renderInPlace=renderInPlace
  popperClass=(concat "adde-dropdown " _popperClass)
  onOpen="popoverOpened"
  onClose="popoverClosed"
}}
  <div class="adde-popper-content adde-dropdown-content">
    {{yield}}
  </div>
{{/animated-popper}}
