{{#if isOpen}}
  {{#ember-popper
    id=_popperId
    target=_target
    placement=placement
    class="ice-popover"
    classNameBindings="isShowing:is-visible popoverTitle:has-title _popperClass"
  }}
    <div class="ice-popover-content">
      {{#if popoverTitle}}
        <header class="ice-popover-title">{{popoverTitle}}</header>
      {{/if}}
      {{yield}}
    </div>
    <div class="popper-arrow" x-arrow></div>
  {{/ember-popper}}
{{/if}}
