{{#animated-popper
  isOpen=isOpen
  placement=placement
  renderInPlace=renderInPlace
  popperClass=(concat "ice-popover " (if popoverTitle "has-title ") _popperClass)
  onOpen="popoverOpened"
  onClose="popoverClosed"
}}
  <div class="ice-popover-content">
    {{#if popoverTitle}}
      <header class="ice-popover-title" data-test-popover-header>{{popoverTitle}}</header>
    {{/if}}
    {{yield}}
  </div>
  <div class="popper-arrow" x-arrow></div>
{{/animated-popper}}
