{{#animated-popper
  isOpen=isOpen
  placement=placement
  modifiers=_popperModifiers
  renderInPlace=renderInPlace
  popperClass=(concat "ice-tooltip " _popperClass)
  onOpen="popoverOpened"
  onClose="popoverClosed"
}}
  <div class="ice-tooltip-content" tabindex="0">
    {{yield}}
  </div>
  <div class="popper-arrow" x-arrow></div>
{{/animated-popper}}
