{{#if isOpen}}
  {{#ice-popper
    id=_popperId
    target=_target
    placement=placement
    class="ice-tooltip"
    classNameBindings="isShowing:is-visible class"
  }}
    <div class="ice-tooltip-content">
      {{yield}}
    </div>
    <div class="popper-arrow" x-arrow></div>
  {{/ice-popper}}
{{/if}}
