{{#animated-popper
  isOpen=isOpen
  placement=placement
  modifiers=_popperModifiers
  renderInPlace=renderInPlace
  popperClass=(concat "ice-tooltip " _popperClass)
  onOpen="popoverOpened"
  onClose="popoverClosed"
}}
  <div class="ice-popper-content ice-tooltip-content" tabindex="0">
    {{yield}}
    <span class="hidden-focus-tracker" tabindex="0" data-test-focus-tracker></span>
  </div>
  <div class="popper-arrow" x-arrow></div>
{{/animated-popper}}
