{{#if isOpen}}
  {{#ember-popper
    id=_popperId
    target=_target
    placement=placement
    renderInPlace=renderInPlace
    class="ice-tooltip"
    classNameBindings="isShowing:is-visible _popperClass"
  }}
    <div class="ice-tooltip-content">
      {{yield}}
    </div>
    <div class="popper-arrow" x-arrow></div>
  {{/ember-popper}}
{{/if}}
