
// Ice Sub Dropdown
//
// A sub dropdown that is ONLY embedded in a list item inside of a regular dropdown menu.
// It is triggered when hovering over its target list element.
//
// You can implement a sub dropdown within a regular dropdown with the Ember addon like this:
// ```
// <div class="dropdown-example">
//   <div class="example-target">
//     Target text
//     <i class="fa fa-caret-down ice-dropdown-caret" aria-hidden="true"></i>
//     {{#ice-dropdown}}
//       <ul class="ice-dropdown-menu">
//         <li>
//           <button>
//             Foo bar baz
//             <i class="fa fa-caret-down ice-dropdown-caret" aria-hidden="true"></i>
//             {{#ice-sub-dropdown}}
//               <ul class="ice-dropdown-menu">
//                 <li><button>Foo bar baz</button></li>
//                 <li><button>I'm Mr. Meseeks</button></li>
//                 <li><button>Lorem ipsum</button></li>
//               </ul>
//             {{/ice-sub-dropdown}}
//           </button>
//         </li>
//         <li><button>I'm Mr. Meseeks</button></li>
//         <li><button>Lorem ipsum</button></li>
//       </ul>
//     {{/ice-dropdown}}
//   </div>
// </div>
// ```
//
// #### Important
// Note that sub dropdowns are an offical Ember addon in ice-pop,
// so please do not use the below example HTML directly.
// Please use the Ember component instead.
// [See Ice Dropdown Docs >>](/docs/ice-pop/class/addon/components/ice-sub-dropdown.js~IceSubDropdown.html)
//
// Markup:
//   <div class="dropdown-example">
//     <div class="example-target popover-target is-active" aria-haspopup="true" aria-expanded="true">
//       Target text
//       <i class="fa fa-caret-down ice-dropdown-caret" aria-hidden="true"></i>
//       <div class="ice-dropdown is-visible" x-placement="bottom-start">
//         <div class="ice-dropdown-content" tabindex="0">
//           <ul class="ice-dropdown-menu">
//             <li>
//               <button class="is-active">
//                Foo bar baz
//                 <i class="fa fa-caret-down ice-dropdown-caret" aria-hidden="true"></i>
//                 <div class="ice-dropdown ice-sub-dropdown is-visible" x-placement="right-start">
//                   <div class="ice-dropdown-content" tabindex="0">
//                     <ul class="ice-dropdown-menu">
//                       <li><button>Foo bar baz</button></li>
//                       <li><button>I'm Mr. Meseeks</button></li>
//                       <li><button>Lorem ipsum</button></li>
//                     </ul>
//                   </div>
//                 </div>
//               </button>
//             </li>
//             <li><button>I'm Mr. Meseeks</button></li>
//             <li><button>Lorem ipsum</button></li>
//           </ul>
//         </div>
//       </div>
//     </div>
//   </div>
//
// Styleguide Ice Pop - Ice Dropdown - Ice Sub Dropdown

.ice-sub-dropdown {
  margin-top: $ice-sub-dropdown-offset; // offset to make the subdropdown menu items line up

  // The designers want the direction of the subdropdown to always be down or up,
  // no left or right. -start and -end denote left and right when combined with up or down
  &[x-placement^='bottom'],
  &[x-placement$='-start'] {
    @include create-offset-box-shadow('bottom', $ice-dropdown-box-shadow-x-offset, $ice-dropdown-box-shadow-y-offset, $ice-dropdown-box-shadow-spread, $ice-dropdown-box-shadow-color);
  }

  &[x-placement^='top'],
  &[x-placement$='-end'] {
    @include create-offset-box-shadow('top', $ice-dropdown-box-shadow-x-offset, $ice-dropdown-box-shadow-y-offset, $ice-dropdown-box-shadow-spread, $ice-dropdown-box-shadow-color);
  }

  // If we need an offset to match the offset on the main dropdown between its target
  @if ($ice-dropdown-offset != 0) {
    &[x-placement^='bottom'] {
      margin-top: -$ice-dropdown-offset;
    }

    &[x-placement^='top'] {
      margin-bottom: -$ice-dropdown-offset;
    }

    &[x-placement^='left'] {
      margin-right: -$ice-dropdown-offset;
    }

    &[x-placement^='right'] {
      margin-left: -$ice-dropdown-offset;
    }
  }
}
