<div class="scroll-container">
  <div class="item-container">
    <div class="scroll-target">
      {{#ice-tooltip modifiers=popperModifiers}}
        Pop
        <div class="popper-arrow" x-arrow></div>
      {{/ice-tooltip}}
    </div>
  </div>
</div>
