<header class="demo-header">
  <h1>Adde Pop Sandbox</h1>
  {{#link-to 'popover'}}>> Popover{{/link-to}} |
  {{#link-to 'tooltip'}}>> Tooltip{{/link-to}} |
  {{#link-to 'dropdown'}}>> Dropdown{{/link-to}}
</header>
{{outlet}}
