<p class="info-text">Scroll around to see demo tooltip dots.</p>
<div class="scroll-container">
  <div class="item-container">

    <h3>Tooltips</h3>
    <div class="scroll-target">
      {{#ice-tooltip placement="top"}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is top.
      {{/ice-tooltip}}
    </div>

    <div class="scroll-target">
      {{#ice-tooltip}}
        Here is a small tooltip with auto placement.
      {{/ice-tooltip}}
    </div>

    <div class="scroll-target">
      {{#ice-tooltip class="error-tooltip" placement='top-start'}}
        Here is a warning tooltip with top right placement.
      {{/ice-tooltip}}
    </div>

    <div class="scroll-target">
      {{#ice-tooltip placement='bottom-end'}}
        Here is a warning tooltip with bottom left placement.
      {{/ice-tooltip}}
    </div>

    <h3>Popovers</h3>

    <button class="popover-target">
      Open top
      {{#ice-popover placement='top'}}
        <p>This is a popover!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open right
      {{#ice-popover placement='right'}}
        <p>This is a popover!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open left
      {{#ice-popover placement='left'}}
        <p>This is a popover!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open bottom
      {{#ice-popover placement='bottom'}}
        <p>This is a popover!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>

    <p></p>

    <button class="popover-target">
      Open top
      {{#ice-popover placement='top' popoverTitle="Foo Bar Baz Foo Bar Baz Foo Bar Baz Foo Bar Baz"}}
        <p>This is a popover with a long title!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open right
      {{#ice-popover placement='right' popoverTitle="Foo Bar Baz"}}
        <p>This is a popover with a title!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open right
      {{#ice-popover placement='right-start' popoverTitle="Foo Bar Baz"}}
        <p>This is a popover with a title!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open left
      {{#ice-popover placement='left' popoverTitle="Foo Bar Baz"}}
        <p>This is a popover with a title!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open left
      {{#ice-popover placement='left-start' popoverTitle="Foo Bar Baz"}}
        <p>This is a popover with a title!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
    <button class="popover-target">
      Open bottom
      {{#ice-popover placement='bottom' popoverTitle="Foo Bar Baz"}}
        <p>This is a popover with a title!</p>
        <button>Look a button</button>
      {{/ice-popover}}
    </button>
  </div>
</div>
