<h2 class="title">Dropdown</h2>

<div class="info-text">Basic dropdowns, all possible positions</div>
<div class="demo-container">
  <div class="demo-item">
    <button class="button-text popover-target">
      Bottom Middle <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown placement='bottom'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Bottom Right (default) <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Bottom Left <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown placement='bottom-end'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>

  <div class="demo-item">
    <button class="button-text popover-target">
      Top Middle <div class="ice-dropdown-caret up" aria-hidden="true"></div>
      {{#ice-dropdown placement='top'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Top Right <div class="ice-dropdown-caret up" aria-hidden="true"></div>
      {{#ice-dropdown placement='top-start'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Top Left <div class="ice-dropdown-caret up" aria-hidden="true"></div>
      {{#ice-dropdown placement='top-end'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>

  <div class="demo-item">
    <button class="button-text popover-target">
      Right Middle <div class="ice-dropdown-caret right" aria-hidden="true"></div>
      {{#ice-dropdown placement='right'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Right Bottom <div class="ice-dropdown-caret right" aria-hidden="true"></div>
      {{#ice-dropdown placement='right-start'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Right Top <div class="ice-dropdown-caret right" aria-hidden="true"></div>
      {{#ice-dropdown placement='right-end'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>

  <div class="demo-item">
    <button class="button-text popover-target">
      Left Middle <div class="ice-dropdown-caret left" aria-hidden="true"></div>
      {{#ice-dropdown placement='left'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Left Bottom <div class="ice-dropdown-caret left" aria-hidden="true"></div>
      {{#ice-dropdown placement='left-start'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Left Top <div class="ice-dropdown-caret left" aria-hidden="true"></div>
      {{#ice-dropdown placement='left-end'}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>

</div>

<div class="info-text">Different button types</div>
<div class="demo-container">
  <p>Note that the two main dropdown targets will always be <code>button-text</code> or <code>button-icon</code>.<br />
  <code>button-link</code> is shown here just to see what it looks like, and <code>button-defult</code> is more of a preview of what a ice-select would look like.</p>

  <div class="demo-item">
    <button class="button-icon popover-target">
      + <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Button default <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-link popover-target">
      Button link <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
</div>


<div class="info-text">Dropdown menu options</div>
<div class="demo-container">

  <div class="demo-item">
    <button class="button-text popover-target">
      Divider <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li class="list-divider" role="separator"></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Selected item <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button class="is-selected" data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Disabled item<div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close disabled>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Group Header <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li class="list-group-header" role="heading">Group Header</li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li class="list-group-header" role="heading">Group Header</li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Custom Class <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown class="foobar"}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Submenu <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li>
            <button>
              I'm Mr. Meseeks
              <div class="ice-dropdown-caret right" aria-hidden="true"></div>
              {{#ice-sub-dropdown}}
                <ul class="ice-dropdown-menu">
                  <li><button data-close>Foo bar baz</button></li>
                  <li><button data-close>Lorem ipsum</button></li>
                  <li><button data-close>I'm Mr. Meseeks</button></li>
                  <li class="list-divider" role="separator"></li>
                  <li><button data-close>Foo bar baz</button></li>
                  <li><button data-close disabled>Lorem ipsum</button></li>
                  <li><button data-close>I'm Mr. Meseeks</button></li>
                </ul>
              {{/ice-sub-dropdown}}
            </button>
          </li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Anchor tags<div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><a href="#foo" data-close>Foo bar baz</a></li>
          <li><a href="#foo" data-close>Lorem ipsum</a></li>
          <li><a href="#foo" tabindex="-1" disabled>Disabled</a></li>
          <li><a href="#foo" data-close>Foo bar baz</a></li>
          <li><a href="#foo" class="is-selected" data-close>Selected</a></li>
          <li><a href="#foo" data-close>I'm Mr. Meseeks</a></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
</div>

<div class="info-text">Dropdowns with content size variations</div>
<div class="demo-container">

  <div class="demo-item">
    <button class="button-text popover-target">
      Long menu items<div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum dolor sit amet supcalifragalisticecspialdocious</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Long menu items with caret <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li>
            <button>
              Lorem ipsum dolor sit amet supcalifragalisticecspialdocious
              <div class="ice-dropdown-caret right" aria-hidden="true"></div>
              {{#ice-sub-dropdown}}
                <ul class="ice-dropdown-menu">
                  <li><button data-close>Foo bar baz</button></li>
                  <li><button data-close>Lorem ipsum</button></li>
                  <li><button data-close>I'm Mr. Meseeks</button></li>
                  <li><button data-close>Foo bar baz</button></li>
                  <li><button data-close>Lorem ipsum</button></li>
                  <li><button data-close>I'm Mr. Meseeks</button></li>
                </ul>
              {{/ice-sub-dropdown}}
            </button>
          </li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-text popover-target">
      Lots of items <div class="ice-dropdown-caret down" aria-hidden="true"></div>
      {{#ice-dropdown}}
        <ul class="ice-dropdown-menu">
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
          <li class="list-divider" role="separator"></li>
          <li><button data-close>Foo bar baz</button></li>
          <li><button data-close>Lorem ipsum</button></li>
          <li><button data-close>I'm Mr. Meseeks</button></li>
        </ul>
      {{/ice-dropdown}}
    </button>
  </div>
</div>
<div style="height:700px;">(intentional empty space)</div>
