<h2 class="title">Popover</h2>

<div class="info-text">Basic popovers, all possible positions</div>
<div class="demo-container">
  <div class="demo-item">
    <button class="button-default popover-target">
      Top Middle
      {{#adde-popover placement='top'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Top Right
      {{#adde-popover placement='top-start'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Top Left
      {{#adde-popover placement='top-end'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>

  <div class="demo-item">
    <button class="button-default popover-target">
      Bottom Middle
      {{#adde-popover placement='bottom'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Bottom Right
      {{#adde-popover placement='bottom-start'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Bottom Left
      {{#adde-popover placement='bottom-end'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>

  <div class="demo-item">
    <button class="button-default popover-target">
      Right Middle
      {{#adde-popover placement='right'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Right Bottom
      {{#adde-popover placement='right-start'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Right Top
      {{#adde-popover placement='right-end'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>

  <div class="demo-item">
    <button class="button-default popover-target">
      Left Middle
      {{#adde-popover placement='left'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Left Bottom
      {{#adde-popover placement='left-start'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Left Top
      {{#adde-popover placement='left-end'}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>

</div>

<div class="info-text">Popovers with titles</div>
<div class="demo-container">

  <div class="demo-item">
    <button class="button-default popover-target">
      Open top
      {{#adde-popover placement='top' popoverTitle="Foo Bar Baz Foo Bar Baz Foo Bar Baz Foo Bar Baz"}}
        <div class="adde-popover-body">
          <p>This is a popover with a long title!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Open mid right
      {{#adde-popover placement='right' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body">
          <p>This is a popover with a title and a footer!</p>
          <input type="text" value="type something" />
        </div>
        <footer class="adde-popover-footer">
          <button class="button-primary">do the thing</button>
          <button class="button-default pull-right">nevermind</button>
        </footer>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Open top right
      {{#adde-popover placement='right-start' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body">
          <p>This is a popover with a title!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Open mid left
      {{#adde-popover placement='left' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body">
          <p>This is a popover with a title!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Open top left
      {{#adde-popover placement='left-start' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body">
          <p>This is a popover with a title!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Open bottom
      {{#adde-popover placement='bottom' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body">
          <p>This is a popover with a title!</p>
          <button>Look a button</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
</div>

<div class="info-text">Popovers with footers</div>
<div class="demo-container">

  <div class="demo-item">
    <button class="button-default popover-target">
      just footer
      {{#adde-popover placement='top'}}
        <div class="adde-popover-body">
          <p>This is a popover with just a footer!</p>
          <input type="text" value="type something" />
        </div>
        <footer class="adde-popover-footer">
          <button class="button-primary">do the thing</button>
          <button class="button-default pull-right">nevermind</button>
        </footer>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      title / footer
      {{#adde-popover placement='top' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body">
          <p>This is a popover with a title and a footer!</p>
          <input type="text" value="type something" />
        </div>
        <footer class="adde-popover-footer">
          <button class="button-primary">do the thing</button>
          <button class="button-default pull-right">nevermind</button>
        </footer>
      {{/adde-popover}}
    </button>
  </div>
</div>

<div class="info-text">Popovers with content size variations</div>
<div class="demo-container">

  <div class="demo-item">
    <button class="button-default popover-target">
      500px width
      {{#adde-popover placement='top' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body" style="width:500px;">
          <p>This is a popover with content that has a custom width set on the content.
          Not setting a width means the popover can grow really wide without wrapping content.</p>
          <input type="text" value="type something" />
        </div>
        <footer class="adde-popover-footer">
          <button class="button-primary">do the thing</button>
          <button class="button-default pull-right">nevermind</button>
        </footer>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      max tall
      {{#adde-popover placement='top' popoverTitle="Foo Bar Baz"}}
        <div class="adde-popover-body" style="width:200px">
          <p>This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height. This is a popover with a a ton of content that hits the max height.</p>
          <input type="text" value="type something" />
        </div>
        <footer class="adde-popover-footer">
          <button class="button-primary">do the thing</button>
          <button class="button-default pull-right">nevermind</button>
        </footer>
      {{/adde-popover}}
    </button>
  </div>
</div>

<div class="info-text">Popovers with actions</div>
<div class="demo-container">
  <div class="demo-item">
    <button class="button-default popover-target">
      Closable
      {{#adde-popover}}
        <div class="adde-popover-body">
          <p>This is a popover!</p>
          <button data-close>Close Me</button>
          <button data-close disabled>Do Nothing</button>
          <button data-close>Close Me Too</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Form
      {{#adde-popover class="foobar"}}
        <div class="adde-popover-body">
          <p>Form with lots of elements</p>
          <input type="text" /><br />
          <input type="checkbox" /><br />
          <input type="radio" /><br />
          <input type="time" /><br />
          <input type="range" /><br />
          <textarea>Foo bar baz</textarea><br />
          <a href="#">A link</a><br />
          <select name="select">
            <option value="value1">Value 1</option>
            <option value="value2" selected>Value 2</option>
            <option value="value3">Value 3</option>
          </select><br />
          <button data-close>Submit Me</button>
          <button data-close disabled>Do Nothing</button>
          <button data-close>Close Me Too</button>
        </div>
      {{/adde-popover}}
    </button>
  </div>

</div>

<div class="info-text">Misc</div>
<div class="demo-container">
  <div class="demo-item">
    <button class="button-default popover-target">
      Custom class
      {{#adde-popover class="foobar"}}
        <div class="adde-popover-body">
          <p>I should have a "foobar" class!</p>
        </div>
      {{/adde-popover}}
    </button>
  </div>
  <div class="demo-item">
    <button class="button-default popover-target">
      Custom class
      {{#adde-popover}}
        <div class="adde-popover-body">
          <p>A popover with just text in it, no focusable items.</p>
        </div>
      {{/adde-popover}}
    </button>
  </div>
</div>

