<h2 class="title">Tooltips</h2>

<div class="demo-container">

  <div class="demo-item">
    Top Middle
    <div class="tooltip-target">
      {{#ice-tooltip placement='top'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is top.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Top Right
    <div class="tooltip-target">
      {{#ice-tooltip placement='top-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is top.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Top Left
    <div class="tooltip-target">
      {{#ice-tooltip placement='top-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is top.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Bottom Middle
    <div class="tooltip-target">
      {{#ice-tooltip placement='bottom'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is bottom.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Bottom Right
    <div class="tooltip-target">
      {{#ice-tooltip placement='bottom-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is bottom.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Bottom Left
    <div class="tooltip-target">
      {{#ice-tooltip placement='bottom-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is bottom.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Right Middle
    <div class="tooltip-target">
      {{#ice-tooltip placement='right'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is right.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Right Bottom
    <div class="tooltip-target">
      {{#ice-tooltip placement='right-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is right.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Right Top
    <div class="tooltip-target">
      {{#ice-tooltip placement='right-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is right.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Left Middle
    <div class="tooltip-target">
      {{#ice-tooltip placement='left'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is left.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Left Bottom
    <div class="tooltip-target">
      {{#ice-tooltip placement='left-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is left.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Left Top
    <div class="tooltip-target">
      {{#ice-tooltip placement='left-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is left.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Auto
    <div class="tooltip-target">
      {{#ice-tooltip}}
        Here is a small tooltip with auto placement (default).
        It will adjust itself according to how much space is in the window.
      {{/ice-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Error
    <div class="tooltip-target">
      {{#ice-tooltip class="error-tooltip"}}
        Here is an error tooltip example.
      {{/ice-tooltip}}
    </div>
  </div>

</div>

<p class="info-text">
  Test to see how tooltip behaves in a scrolling area. Scroll around to see demo tooltip dot.
</p>

<div class="scroll-container">
  <div class="item-container">

    <div class="tooltip-target">
      {{#ice-tooltip}}
        Here is a small tooltip with auto placement.
      {{/ice-tooltip}}
    </div>

  </div>
</div>
