<h2 class="title">Tooltips</h2>

<div class="demo-container">

  <div class="demo-item">
    Top Middle
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='top'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is top.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Top Right
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='top-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is top.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Top Left
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='top-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is top.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Bottom Middle
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='bottom'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is bottom.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Bottom Right
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='bottom-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is bottom.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Bottom Left
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='bottom-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is bottom.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Right Middle
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='right'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is right.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Right Bottom
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='right-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is right.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Right Top
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='right-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is right.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Left Middle
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='left'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is left.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Left Bottom
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='left-start'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is left.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Left Top
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip placement='left-end'}}
        Here is an example tooltip.
        It is a glorious example tooltip, with roughly the average amount of content.
        Placement is left.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Auto
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip}}
        Here is a small tooltip with auto placement (default).
        It will adjust itself according to how much space is in the window.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Error
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip class="error-tooltip"}}
        Here is an error tooltip example.
      {{/adde-tooltip}}
    </div>
  </div>

  <div class="demo-item">
    Tooltip with focusable content
    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip class="error-tooltip"}}
        Here is an error tooltip example. <a href="#">Foo</a>
      {{/adde-tooltip}}
    </div>
  </div>

</div>

<div class="demo-container">
  <div class="demo-item">
    Icon tooltip default
    {{#adde-tooltip-icon placement="top"}}
      Here is a tooltip with the icon baked in.
    {{/adde-tooltip-icon}}
  </div>

  <div class="demo-item">
    Icon tooltip with overwritten icon class
    {{#adde-tooltip-icon placement="top" iconClass="tooltip-target"}}
      Here is a tooltip with the icon class overwritten.
    {{/adde-tooltip-icon}}
  </div>

  <div class="demo-item">
    Icon tooltip with custom tooltip
    {{#adde-tooltip-icon placement="top" tooltipClass="error-tooltip"}}
      Here is an icon tooltip with error tooltip style.
    {{/adde-tooltip-icon}}
  </div>
</div>

<p class="info-text">
  Test to see how tooltip behaves in a scrolling area. Scroll around to see demo tooltip dot.
</p>

<div class="scroll-container">
  <div class="item-container">

    <div class="tooltip-target" tabindex="0">
      {{#adde-tooltip}}
        Here is a small tooltip with auto placement.
      {{/adde-tooltip}}
    </div>

  </div>
</div>
